/* Navigation */

#logo {
    width: 100px;
    height: 100px;
}

.badge {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


#count {
    font-size: 10px;
    background: #ffbb00;
    vertical-align: top;
    margin-left: -5px;
    color: #000;
    padding: 0 5px;

}

.navbar{
    box-shadow:1px 1px 5px #626e6c;    
}

/* menu section */
#menuimg{
    width: 250px;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
#menuitem{
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
span .card{
    background-color: #626e6c;
}

/* Footer Section */
#footerhead{
    background-color: #f35555;
}
#footertail{
    background-color: #ff2600;
}